<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <main class="container">
      <form action="/weather" method="post">
        <input type="text" placeholder="Search" name="cityName" autocomplete="off">
        <button></button>  
      </form>
      <h2>Weather in <%= cityName %></h2>
      <h1><%= temp %>&#xb0;C </h1>
      <img src="<%= imgSrc %>" alt="" height="50"><span><%= main %></span>
      <p>Humidity: <%= humidity %>%</p>
      <p>Wind Speed: <%= windSpeed %>km/h</p>
    </main>
  </body>
</html>